id: get_entity
type: MongoDBAggregation
connectionId: {{ connection_id }}
payload:
  entity_id:
    _request: get_workflow_action.entity.id
properties:
  pipeline:
    - $match:
        _id:
          _payload: entity_id
